body {
    background: #000000;
}

form {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6a6868;
    padding: 2%;

}

input {
    width: 30%;
    border: solid 1px black;
    padding: 20px;
    margin: 2%;
    font-size: 1em;
}

textarea {
    width: 99%;
    height: 180px;
    font-family: 'Raleway', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file] {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

h2,
h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

iframe {
    width: 50%;
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}
