header img {
    width: 490px;
    padding: 15px;

}

header {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 15px;
    text-align: center;

}


.btn {
    color: #999;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn:hover {
    border: none;
    background: rgba(0, 0, 0, 0.4);
    background: #fff;
    padding: 20px 20px;
    color: #1b1b1b;
}

button {
    border: none;
}

button {
    padding: 10px 20px;
    background: transparent;
    margin: 5px;
}

.menu-item {
    flex-grow: 1;
}

nav {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    padding: 10px;
    text-decoration: none;
    color: black;
}


body {
    background: #9DAB99;

}

form {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #6a6868;
    padding: 2%;

}

input {
    width: 30%;
    border: solid 1px black;
    padding: 20px;
    margin: 2%;
    font-size: 1em;
}

textarea {
    width: 99%;
    height: 180px;
    font-family: 'Raleway', sans-serif;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=file] {
    width: 100%;
    background-color: white;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: red;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

ul {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

li {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

iframe {
    width: 30%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;

}

.pynt {
    width: 90%;
    height: 3px;
    background: #CC3C28;
    margin-left: auto;
    margin-right: auto;
}
