/*TIL INDEX.HTML*/

body {
    background: #000000;
}

h3 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

footer {
    display: flex;
    flex-wrap: wrap;
}

header {
    display: flex;
    flex-wrap: wrap;
}


.boks_parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.boks_container {
    background: white;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    padding: 10px;
}

.boks_tekst {
    flex-basis: 250px;
    flex-grow: 1;
    background: black;
    max-width: 100%;
}

.boks_billede img {
    max-width: 100%;
}

.boks_billede {
    flex-basis: 250px;
    flex-grow: 1;
    max-width: 100%;
}
