/*TIL INDEX.HTML*/

body {
    background: #000000;
}

h3 {
    color: #ffffff;
}

p {
    color: #ffffff;
}

.slideshow_parent_container {
    background: #6a6868;
    display: grid;
    grid-template: auto auto;
    grid-gap: 10px;
}

.slideshow_billede_container {
    background: red;
    width: 50%;
    height: auto;
}

.slideshow_text_container {
    background: blue;
    width: 50%;
    height: auto;
}

img src="Huset_logo_6_W.png" {
    margin-left: auto;
    margin-right: auto;
}
